*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

#excluding some important files
/app/src/main/java/com/ierusalem/androrat/core/app/NetworkModule.kt
/app/src/main/java/com/ierusalem/androrat/core/data/networking/ApiService.kt
/app/src/main/java/com/ierusalem/androrat/core/utils/Constants.kt
/app/src/main/java/com/ierusalem/androrat/core/utils/Context.kt
